body{
	background: linear-gradient(90deg, #2f363f -40%, #6495ca 100%);
    font-family: sans-serif;
    -webkit-box-sizing: content-box;
    box-sizing: content-box; }

.App{
	color: rgb(78, 201, 41);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Khula', sans-serif;
	transition: margin 0.5s ease-out;

}
a:visited {
	color:            #97b31b;
	text-decoration:  none;
}

