:root {
    --orange-color: #ff9000;
    --primary-color: #79b8ff;
    --success-color: #19d265;
    --primary-light-color: #79b8ff45;
    --primary-hover-color: #a9caef;
    --default-transition: 0.2s;
    --text-primary: #3a3a3a;
    --border-color: #c9c9c9;
}
